*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-size: 15px;
}

body{
    background-color: hsl(233, 47%, 7%);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    padding: 90px 30px;
    width: 100%;
}

.motherContainer{
    max-width: 320px;
    background-color: hsl(244, 38%, 16%);
    border-radius: 0 0 10px 10px;
    /* padding-bottom: 2rem; */
}

.img_container {
    background-color: hsl(277, 64%, 61%);
}

.img_container img{
    width: 100%;
    /* background-color: hsl(277, 64%, 61%); */
    border-radius: 10px 10px 0 0;
    mix-blend-mode: multiply;
    opacity: 0.8;
}

.stat_intro_header{
    font-size: 1.7rem;
    color: white;
    font-family: 'Inter', sans-serif;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}

.stat_intro_paragraph{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.75);
    padding-top: 20px;
    line-height: 1.7;
    font-family: 'Inter', sans-serif;
}
ul{
    padding-bottom: 4rem;
}
ul li{
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    padding-top: 2.5rem;
}

ul li h1{
    color: white;
    font-size: 1.7rem;   
}

ul li p{
    padding-top: 0.6rem;
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .motherContainer{
        display: grid;
        max-width: 800px;
        grid-template-columns: 1fr 1fr;
        border-top-left-radius: 10px;
    }
    ul{
        display: flex;
        /* justify-content: space-between; */
        /* padding-left: 2.57rem; */
        margin-left: 2.6rem;
        padding: 2rem 0;
        padding-bottom: 4rem;
    }
    ul li{
        padding-inline-end: 3rem;
    }
    ul li h1{
        /* width: 70%; */
        text-align: start;
    }
    .img_container{
        width: 100%;
        order: 2;
    }
    .img_container img{
        width: 100%;
        min-height: 100%;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 10px;
    }
    .stat_intro_header{
        text-align: start;
    }
    .stat_intro_paragraph{
        text-align: start;
    }
}