*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    background-color: hsl(233, 47%, 7%);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    padding: 90px 30px;
    width: 100%;
}

.motherContainer{
    max-width: 320px;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px 10px 0 0;
    padding-bottom: 2rem;
}

.img_container img{
    width: 100%;
    /* background-color: hsl(277, 64%, 61%); */
    border-radius: 10px 10px 0 0;
}