*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    background-color: hsl(233, 47%, 7%);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    padding: 90px 30px;
    width: 100%;
}

.